/* CSS Reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  height:100vh;
}

body{
  font-size:1em;
}

#root{
  background:linear-gradient(#fff, #aeaeae) no-repeat;
  height:100vh;
  padding: 0;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

* + *:not(
  body, main, footer
) {
  margin-top:2rem;
}

section{
  padding:1.5rem;
}

header{
  font-size:1.5rem;
  font-weight:bold;
}

footer{
  padding:1.5rem;
}

.continer{
  margin:2rem;
  padding:1rem;
  background: #ffffffaa;
  border-radius:.5rem;
  max-width: 50rem;
}

li{
  margin:0
}
